/build/
/technical_report.aux
/technical_report.bbl
/technical_report.blg
/technical_report.fdb_latexmk
/technical_report.fls
/technical_report.log
/technical_report.out
/technical_report.synctex.gz
/technical_report.toc
/technical_reportNotes.bib
